/* Poznámky ke grafice
Nadpis Piškvorky je fontem Lobster. Najdeš ho zdarma na Google Fonts. DONE
Různé vzdálenosti, velikosti textu odhadni od oka nebo přesně změř na obrázku výše. DONE
Gradient v pozadí jde z fialové  #615dad do růžové  #ffc8da. DONE
Další barvy, které se ti budou hodit:
Barva textu  #ffffff. DONE
Podkladová tmavě modrá  #283e50. DONE
Tlačítko Pravidla  #1fcca4. A po najetí myši  #1cbb96. DONE
Tlačítko Začít hrát  #0197f6. Po najetí  #0090e9. DONE
Úvodní text nemusíš opisovat. Stačí ho zkopírovat zde: Piškvorky jsou velmi oblíbená společenská hra pro dva hráče. Obvykle se hraje s tužkou a čtverečkovaným papírem. Nyní můžete využít naši skvělou aplikaci, takže už nepotřebujete ani tužku a nemusíte hledat čtverečkovaný papír. Přejeme vám hodně zábavy! DONE */

/* Do výšky a šířky prvku se bude počítat padding a border (rámeček) */
html {
  box-sizing: border-box;
  min-height: 100%; /** Aby pozadí bylo přes celý viewport **/
}

/* Obrázek v hlavičce má po změření v Adobe xd výššku 220 px a šířku 360 px. */
.obrhlavicka {
  width: 360px;
  max-width: 100%; /* Dořešení přetékání. */
  border-top-left-radius: 5px; /* Zaoblení rohů obrázku nahoře cca 10px.*/
  border-top-right-radius: 5px;
  display: block;
  margin: 50px auto 0;
}

/* Body - celé má pozadí v přechodu z fialové #615dad do růžové #ffc8da*/
body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat; /* Aby se neopakoval přechod barev. */
  color: #ffffff; /* Barva textu v celém dokumentu #ffffff. */
  font-family: Arial, Helvetica, sans-serif; /* Text je bezpatkový, Arial. */
  font-size: 16px; /* Velikost podle Adobe xd asi 15px, ale podle prohlížeče větší. */
  text-align: center; /* Text je zarovnán na střed. */
  margin: 50px 0 16px 0;
  padding-left: 16px;
  padding-right: 16px;
}

.obsah h1 {
  font-family: 'Lobster', cursive;
  font-size: 37px; /* Podle Adobe xd asi 37 px. */
  margin: 0 0 30px; /* Odsazení od nadpisu asi 30px nahoře a 30 px dole, ALE ZE STRAN 0px */
}

.obsah {
  padding: 30px 10px 0;
}

/* Pozadí za textem je tmavě modré #283e50. */
.kontejner {
  background-color: #283e50;
  width: 360px; /* Vše je na šířku obrázku, tj. 360 px. */
  max-width: 100%; /* Dořešení přetékání. */
  margin: auto; /* Odsazení pod textem asi 40 px, zarovnání BLOKU na střed (margin: auto).*/
}

/* Tlačíka */

.tlacitka {
  margin-top: 30px;
}

.tlacitko {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 0;
}

.pravidla {
  background-color: #1fcca4;
  border-bottom: 1px solid #283e50; /* Mezi tlačítky je černá čára - tmavé ohraničení. */
}

/* Po stisknutí tlačítko ztmavne. :hover*/
.pravidla:hover {
  background-color: #1cbb96;
}

.hrat {
  background-color: #0197f6;
}

/* Po stisknutí tlačítko ztmavne. :hover*/
.hrat:hover {
  background-color: #0090e9;
}

.uvodni {
  background-color: #1fcca4;
  border-bottom: 1px solid #283e50; /* Mezi tlačítky je černá čára - tmavé ohraničení. */
}

/* Po stisknutí tlačítko ztmavne. :hover*/
.uvodni:hover {
  background-color: #1cbb96;
}

/* Styly stránky s Pravidly*/

.main--pravidla {
  background-color: #283e50;
  width: 100%; /* Aby to nepřetékalo u telefonu s 320px. */
  border-top-left-radius: 5px; /* Zaoblení rohů obrázku nahoře cca opět 5px.*/
  border-top-right-radius: 5px;
  display: block;
  margin: 0 auto 0;
}

.main--pravidla h1 {
  color: white;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 37px; /* Podle Adobe xd asi 37 px. Vycházím s nadpisu na indexu.*/
  padding: 20px 20px 0px 20px;
}

.main--pravidla li {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.8;
  padding: 0px 20px 0px 20px;
}

.main--pravidla li img {
  filter: invert(100%);
  width: 1em;
  height: 1em;
  margin: 0 5px;
}

figure {
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 80%;
  margin: auto;
}

figcaption {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 100;
  padding: 10px 3px 20px 3px;
  text-align: center;
  display: block;
  height: 80px;
}

/* Media query - Široká obrazovka (vycházelo se původně z úzké - mobilní obrazovky, zde je první breakpoint. Tohle by měly být tablety. */
@media only screen and (min-width: 768px) {
  .main--pravidla {
    width: 800px;
    margin: auto;
    max-width: 100%; /* Aby to na menších px než 800 nepřetékalo. */
  }

  figure {
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
    box-sizing: border-box;
    padding: 15px;
  }

  .pravidlaObrazky {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
  }
}

/* Media query - Velmi široká obrazovka (vycházela jsem původně z úzké - mobilní obrazovky, zde je druhý breakpoint. Neliší se od široké, ale má mít omezenou šířku. */
/* @media only screen and (min-width: 1280px) {} - není třeba, náhledy odpovídají zadání. */
